* {
    box-sizing: border-box;
}

body {
    margin: 0
}

.grid-container {
    display: grid;
    place-content: center;
    gap: 10px;
    padding: 60px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.item {
    background-color: lightskyblue;
    padding: 15px;

    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
}